 h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: "Comic Sanc MS", cursive;
}
.alldiv{
    background-color: gray;
    border: 3px solid black;
    width: 30%;
    height: 150px;
    margin: 0px 0px 0px 2%;
    float: left;
}
.dous{
    width: 25%;
    height: 20%;
    margin-left: 74%;
    margin-top:-3px;
    border: 3px solid black;
    text-align: center;
}
.alldiv p{
    padding-left: 5px;
}
#chiken{
    background-color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#beef{
    background-color: rgb(193, 193, 196);
}
#suchi{
    background-color: rgb(128, 30, 0);
}